*{
    font-family: Arial, sans-serif;
}

.filler_image {
    width: 50%;
    height: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    padding-bottom: 20px;
    margin-top: -20px;
    background-color: #31343D;
    
}

h1 {
    color: black;
    background-color: #92CCCD;
    padding: 5px;
    padding-left: 3rem;
    margin-bottom: -5px;
}

.header_links a {
    color: white;
    font-weight: bold; 
    text-decoration: none;
    
}

.line {
    border-left: solid 1px re;
}

.header_links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    list-style-type: none;
}

.page_elements h2 {
    display: flex;
    text-align: right;
    color: #445876;
    font-size: 2rem;
    border-bottom: 3px solid #435877;
    margin-left: 1rem;
    margin-right: 20px;
    padding-right: 3rem;
}

.page_elements {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: center;
}

.contact_info {
    display: flex;
    justify-content: space-between;
}