:root {
    --back-color: #92CCCD;
    --imgtext-padding: 20px;
}

*{
    font-family: 'Lucida Sans';
}

body {
    margin: 0;
}

/* Header================================================================= */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    padding-bottom: 20px;
    margin-top: -20px;
    background-color: #31343D;
}
h1 {
    color: black;
    background-color: var(--back-color);
    font-size: 3rem;
    padding: 5px;
    padding-left: 6rem;
    padding-right: 20px;
    margin-bottom: 5px;
}
/*Header Links*/
.header_links a {
    color: var(--back-color);
    font-weight: bold; 
    text-decoration: underline;
    font-size: 1.2rem;
    
}
.header_links {
    display: flex;
    justify-content: space-between;
    min-width: 370px;
    padding-top: 36px;
    padding-right: 80px;
    list-style-type: none;
}

/* Page elements================================================================= */
.page_elements h2 {
    display: flex;
    flex-flow: row;
    text-align: right;
    color: #445876;
    font-size: 3rem;
    border-right: 5px solid #435877;
    padding-right: 10px;
    max-width: 235px;
}

/* About Me */
.about_me_section {
    display: flex;
    justify-content: space-between;   
    margin-bottom: 5%
}
.about_me_section p {
    margin-right: 10%;
}

.about_me_section h2 {
    margin-right: 50px;
    padding-left: 100px;
}

/* Work */
.work_section {
    display: flex;
    justify-content: space-between;
}
.work_section h2 {
    padding-left: 28px;
    margin-left: 90px; 
}
.work_section div {
    margin-right: 120px;
}

/*Contact Me*/
.contact_me_section {
    display: flex;
    justify-content: space-between;
}

.contact_info {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
    min-width: 900px;
    margin-top: 80px;
    margin-right: 770px;
}
.contact_me_section h2 {
    margin-left: 50px;
}
/* background image================================================================= */

.backgroundimage {
    height: 200px;
    margin-bottom: 25px;
    background-image: url(..\image\IMG_3777.jpg);
    background-size: cover;
    background-position: center;
}

/*image text*/
#headimg_text {
    position: absolute;
    margin-top: 130px;
    margin-left: 83%;
    font-size: 2rem;
    background-color: var(--back-color);
    padding: 10px;
    color: black;
}

/* Work section================================================================= */

.current_project img {
    width: 800px;
    height: 350px;
    border: var(--back-color) solid 5px;
}
.previous_top_row img {
    width: 393px;
    height: 150px;
    border: var(--back-color) solid 5px;
}
.previous_bottom_row img {
    width: 393px;
    height: 150px;
    border: var(--back-color) solid 5px;
}

/*image text*/
.imgtext {
    position: absolute;
    color: black;
    background-color: var(--back-color);
}
.current_project .imgtext {
     padding: var(--imgtext-padding);
     margin-top: 280px;
   
}
.previous_top_row .imgtext {
    padding: var(--imgtext-padding);
    margin-top: 70px;
}

.previous_bottom_row .imgtext {
    padding: var(--imgtext-padding);
    margin-left: 413px;
    margin-top: -90px;
}
.Undder_content_link a{
    display: none;
    position: absolute;
    color: black;
    background-color: var(--back-color);
    padding: var(--imgtext-padding);
    margin-left: 335px;
    margin-top: 280px;
}


/* ================================================================= */

@media  screen and (max-width: 412px) {
    /*==Header==*/
    header {
        margin-right: -520px;
    }
    
    .header_links a{
        margin-left: 70px;
    }
    .backgroundimage {
        margin-right: -430px;
    }
    #headimg_text {
        text-align: center;
        font-size: 30px;
        margin-left: 600px;
        margin-top: 90px;
    }
    /*==Page elements==*/
    .page_elements h2 {
        border-right: none;
        border-bottom: 5px solid #435877;
    }
    /*About me*/
    .about_me_section {
        flex-flow: column;
    }
    .about_me_section h2 {
        justify-content: center;
        width: 100vw;
        margin-left: 200px;;
    } 
    .about_me_section p {
        width: 100vw;
        margin-left: 200px;
    }
    /*Work Section*/
    .work_section {
        flex-flow: column;
    }
    .current_project img{
        width: 600px;
        margin-left: 100px;
    }
    .current_project .imgtext {
        margin-left: 110px;
        margin-right: -150px
    }
    .previous_top_row a img{
        display: none;
    }
    .previous_bottom_row a img{
        display: none;
    }
    .previous_top_row .imgtext {
        display: none;
    }
    .previous_bottom_row .imgtext {
        display: none;
    }
    /*Contact Me*/
    .contact_me_section {
        flex-flow: column;
    }
    .contact_info {
        flex-flow: column;
        margin-top: 12px;
        margin-left: 50px;
        margin-bottom: 50px;
    }
}