*{
    font-family: 'Lucida Sans';
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    padding-bottom: 20px;
    margin-top: -20px;
    background-color: #31343D;
}

h1 {
    color: black;
    background-color: #92CCCD;
    font-size: 3.5rem;
    padding: 5px;
    padding-left: 6rem;
    margin-bottom: -5px;
}



.header_links a {
    color: #92CCCD;
    font-weight: bold; 
    text-decoration: underline;
    font-size: 1.2rem;
    
}

.header_links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    min-width: 355px;
    padding-top: 36px;
    padding-right: 80px;
    list-style-type: none;
}

.page_elements h2 {
    display: flex;
    text-align: right;
    color: #445876;
    font-size: 2rem;
    border-bottom: 3px solid #435877;
    margin-left: 1rem;
    margin-right: 20px;
    padding-right: 3rem;
}

.page_elements {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: center;
}

.contact_info {
    display: flex;
    justify-content: space-between;
}

.backgroundimage {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../image/darth-vader.jpg);
    background-size: cover;
    background-position: center;
}

#current_project img {
    width: 800px;
    height: 350px;
    border: #92CCCD solid 5px;
}

.previous_top_row img {
    width: 393px;
    height: 150px;
    border: #92CCCD solid 5px;
}

.previous_bottom_row img {
    width: 393px;
    height: 150px;
    border: #92CCCD solid 5px;
}